<div class="container text-center cocktails">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="cocktail-card">
          <div class="cocktail-img">
            <%= image_tag @cocktails.img_url(:bright_face) %>
          </div>
          <div class="cocktail-name">
            <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
