<% @cocktail = @cocktail.nil? ? Cocktail.find(id) : @cocktail %>

<div class="container">
  <h1 class="text-center"><%= @cocktail.name %></h1>

  <div class="ingredients">
    <h2>You will need:</h2>
    <ul>
      <% @cocktail.ingredients.each do |ingredient| %>
        <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
      <% end %>
    </ul>
  </div>

  <div class="recipe">
    <h2>How to do it:</h2>
    <% @cocktail.doses.each do |dose| %>
      <% if dose.description != "" %>
        - <%= dose.description %><br>
      <% end %>
    <% end %>
  </div>

  <div class="new-dose">
    <%= render 'doses/form' %>
  </div>
</div>
