html {
  height: 100%;
  box-sizing: border-box;
}

body{
  position: relative;
  min-height: 100%;
  color: white;
  // background-color: black;
}

a{
  color: white;
  &:hover, &:active{
    text-decoration: none;
    color: #DF5438;
  }

}
