.banner {
  background-image: linear-gradient(-90deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 50%), url('banner.jpg');
  color: white;
  padding-right: 15%;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  height: calc(90vh - 50px);
  background-size: cover !important;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
