.cocktails{
  margin-top: 20px;
}

.cocktail-card{
  margin: 10px;
  padding: 20px;
  position: relative;
  border: 1px solid white;
  border-radius: 5px;
  .delete-x{
    position: absolute;
    top: 3px;
    right: 10px;
  }
  .cocktail-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .cocktail-img{
      height: 150px;
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .cocktail-name h4{
      margin-bottom: 0;
    }
  }
}
